* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #13171F;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #0d1118;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header__img {
    width: 180px;
}

.header__title {
    color: #BFBFBF;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.header__img2 {
    width: 276px;
}

.main {
    padding: 30px;
    min-height: 100vh;
}

button {
    padding: 15px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: #BFBFBF;
    background-color: #24262D;
    text-align: right;
    margin-right: 0 auto;
}

button:hover {
    transform: scale(1.10);
    background-color: #1e1f24;
}

.main__title {
    margin-top: 60px;
    color: #BFBFBF;
    border-left: 7px solid #961227;
    padding-left: 15px;
    font-size: 40px;
}

.main__subtitle {
    margin-top: 60px;
    color: #BFBFBF;
    border-left: 7px solid #961227;
    padding-left: 15px;
    font-size: 40px;
}

.main__dadosPessoais {
    margin-top: 60px;
    color: #BFBFBF;
    font-size: 40px;
    border-left: 7px solid #961227;
    padding-left: 15px;
}

.curso {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: auto;
}

#container__curso {
    margin-top: 60px;
    margin-left: -20px;
    width: 565px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__periodo {
    margin-top: 60px;
    margin-left: 60px;
    width: 560px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.moradia {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: auto;
}

#container__estado {
    margin-left: -20px;
    margin-top: 60px;
    width: 850px;
    height: 450px;
    background-color: #24262D;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
}

#container__cidade {
    margin-left: 60px;
    margin-top: 60px;
    width: 850px;
    height: 450px;
    background-color: #24262D;
    padding: 20px;
    border-radius: 20px;
}

.Dados_Pessoais {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__genero {
    margin-left: -20px;
    margin-top: 120px;
    width: 600px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Estado_Civil {
    margin-left: 60px;
    margin-top: 120px;
    width: 600px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Portador_de_Necessidade {
    margin-left: 60px;
    margin-top: 120px;
    width: 600px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Dados_Pessoais2 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__convive_com_portador {
    margin-left: -20px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__qtd_de_filhos {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__moram_com {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Dados_Pessoais3 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__QTD_de_pessoas_moram_junto {
    margin-left: -20px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__situacao_domicilio {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__salario_min {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Dados_Pessoais4 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__tempo_moradia {
    margin-left: -20px;
    margin-top: 60px;
    width: 850px;
    height: 450px;
    background-color: #24262D;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
}

#container__DataNascimento {
    margin-left: 60px;
    margin-top: 60px;
    width: 850px;
    height: 450px;
    background-color: #24262D;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
}

.Dados_Pessoais5 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__qtd_geladeira {
    margin-left: -20px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__qtd_celular_comum {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__qtd_micro_ondas {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Dados_Pessoais6 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__qtd_notebooks {
    margin-left: -20px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__qtd_Maquina_de_Lavar {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__qtd_motocicletas {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Dados_Pessoais7 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__qtd_Automoveis {
    margin-left: -20px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__qtd_DVD {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__qtd_TV {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Dados_Pessoais8 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__qtd_Smartphones {
    margin-left: -20px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Dados_Pessoais8 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Oque_tem_No_Domicilio {
    margin-left: 0px;
    margin-top: 60px;
    width: 1400px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.main__trabalho {
    margin-top: 60px;
    color: #BFBFBF;
    font-size: 40px;
    border-left: 7px solid #961227;
    padding-left: 15px;
}

.Trabalho {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Trabalho {
    margin-left: -20px;
    margin-top: 120px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Vinculo_Emprego {
    margin-left: 60px;
    margin-top: 120px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Area_trabalho {
    margin-left: 60px;
    margin-top: 120px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Trabalho2 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Horario_Trabalho {
    margin-left: -20px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Plano_Saude {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Religiao{
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.main__container {
    color: #BFBFBF;
    margin-left: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 10px;
    overflow: auto;
    margin-top: 50px;
}

.thead__row {
    text-align: center;
}

thead {
    font-size: 22px;
    font-weight: bold;
}

.main__container::-webkit-scrollbar-track {
    background-color: rgb(68, 68, 68);
}

.main__container::-webkit-scrollbar {
    width: 6px;
    background-color: rgb(68, 68, 68);
}

.main__container::-webkit-scrollbar-thumb {
    background-color: #961227;
    border-radius: 5px;
}

.main__Estudos {
    margin-top: 60px;
    color: #BFBFBF;
    font-size: 40px;
    border-left: 7px solid #961227;
    padding-left: 15px;
}

.Escolaridade {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Escolaridade_Pai {
    margin-left: -20px;
    margin-top: 120px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Escolaridade_Mae {
    margin-left: 60px;
    margin-top: 120px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Estudou_Em {
    margin-left: 60px;
    margin-top: 120px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Escolaridade2 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Ingles {
    margin-left: -20px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Espanhol{
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Outros {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Escolaridade3 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Estudou_Fatec {
    margin-left: -20px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Curso_Tecnico {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.main__Informatica {
    margin-top: 60px;
    color: #BFBFBF;
    font-size: 40px;
    border-left: 7px solid #961227;
    padding-left: 15px;
}

.Informatica {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Frequencia_Microcomputadores {
    margin-left: -20px;
    margin-top: 120px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Onde_Microcomputadores {
    margin-left: 60px;
    margin-top: 120px;
    width: 1400px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Informatica2 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Finalidade_Microcomputadores {
    margin-left: -20px;
    margin-top: 60px;
    width: 1900px;
    height: 600px;
    background-color: #24262D;
    border-radius: 20px;
}