* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #13171F;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #0d1118;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header__img {
    width: 180px;
}

.header__title {
    color: #BFBFBF;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.header__img2 {
    width: 276px;
}

.main {
    padding: 30px;
    min-height: 100vh;
}

.main__title {
    color: #BFBFBF;
    border-left: 7px solid #961227;
    padding-left: 15px;
}

.main__subtitle {
    margin-top: 60px;
    color: #BFBFBF;
    border-left: 7px solid #961227;
    padding-left: 15px;
}

.main__dadosPessoais{
    margin-top: 60px;
    color: #BFBFBF;
    border-left: 7px solid #961227;
    padding-left: 15px;
}

.curso {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: auto;
}

#container__curso {
    margin-top: 60px;
    margin-left: -20px;
    width: 500px;
    height: 350px;
    background-color: #24262D;
    border-radius: 40px;
}

#container__periodo {
    margin-top: 60px;
    margin-left: 60px;
    width: 500px;
    height: 350px;
    background-color: #24262D;
    border-radius: 40px;
}

.moradia {
    align-items: center;
    padding: 20px;
    margin-top: auto;
}

#container__estado {
    margin-top: 60px;
    margin-left: -20px;
    width: 1500px;
    height: 740px;
    background-color: #24262D;
    justify-content: space-between;
    padding: 20px;
    border-radius: 40px;
}

#container__cidade {
    margin-left: -20px;
    margin-top: 60px;
    width: 1500px;
    height: 740px;
    background-color: #24262D;
    padding: 20px;
    border-radius: 40px;
}

.Genero {
    align-items: center;
    padding: 20px;
    margin-top: auto;
}

#container__genero {
    margin-left: -20px;
    margin-top: 60px;
    width: 600px;
    height: 450px;
    background-color: #24262D;
    border-radius: 40px;
}

.Dados_Pessoais {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Estado_Civil {
    margin-left: 60px;
    margin-top: 60px;
    width: 600px;
    height: 450px;
    background-color: #24262D;
    border-radius: 40px;
}

#container__Portador_de_Necessidade {
    margin-left: 60px;
    margin-top: 60px;
    width: 600px;
    height: 450px;
    background-color: #24262D;
    border-radius: 40px;
}

/*.main__container {
    color: white;
    width: 780px;
    height: 500px;
    background-color: #24262D;
    border-radius: 10px;
    overflow: auto;
    margin-top: 50px;
}

.thead__row {
    text-align: center;
}

thead{
    font-size: 22px;
    font-weight: bold;
}

.main__container::-webkit-scrollbar-track {
   background-color: rgb(68, 68, 68);
}
.main__container::-webkit-scrollbar {
   width: 6px;
   background-color: rgb(68, 68, 68);
}
.main__container::-webkit-scrollbar-thumb {
   background-color: #961227;
   border-radius: 5px;

}*/