* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #13171F;
    font-family: monospace;
}

.header {
    background-color: #0d1118;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header__img {
    width: 180px;
}

.header__title {
    color: #BFBFBF;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.header__img2 {
    width: 276px;
}

.main {
    padding: 30px;
    min-height: 100vh;
}

#container__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
 .filter__title {
    margin-bottom: 0.313rem;
    font-size: 20px;
    color: #BFBFBF;
 }

.filter__item {
    background-color: #24262D;
    border: none;
    outline: none;
    color: #BFBFBF;
    padding: 0.625rem;
    border-radius: 0.313rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.filter__item:hover {
    background-color: #34363b;
}

::-webkit-file-upload-button {
    background-color: #24262D;
    color: #BFBFBF;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.New__spreadsheet {
    color: #BFBFBF;
    width: 18.75rem;
}
.planilha__icon {
    padding-right: 1.25rem;
    font-size: 1rem;
    background-color: #34363b;
    border: none;
    outline: none;
    color: #BFBFBF;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 20px;
    font-size: 18px;
 }

.main__title {
    margin-top: 60px;
    color: #BFBFBF;
    padding-left: 15px;
    font-size: 40px;
}

.main__subtitle {
    margin-top: 60px;
    color: #BFBFBF;
    padding-left: 15px;
    font-size: 40px;
}

.main__dadosPessoais {
    margin-top: 60px;
    color: #BFBFBF;
    font-size: 40px;
    padding-left: 15px;
}

.curso {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: auto;
}

#container__curso {
    margin-top: 60px;
    margin-left: -20px;
    width: 565px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
    display: block;
}

#container__periodo {
    margin-top: 60px;
    margin-left: 60px;
    width: 560px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.moradia {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: auto;
}

#container__estado {
    margin-left: -20px;
    margin-top: 60px;
    width: 850px;
    height: 450px;
    background-color: #24262D;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
}

#container__cidade {
    margin-left: 60px;
    margin-top: 60px;
    width: 850px;
    height: 450px;
    background-color: #24262D;
    padding: 20px;
    border-radius: 20px;
}

.moradia2 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: auto;
}

#container__moram_com {
    margin-left: -20px;
    margin-top: 0px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__QTD_de_pessoas_moram_junto {
    margin-left: 60px;
    margin-top: 0px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__situacao_domicilio {
    margin-left: 60px;
    margin-top: 0px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.moradia3 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: auto;
}

#container__tempo_moradia {
    margin-left: -20px;
    margin-top: 0px;
    width: 850px;
    height: 450px;
    background-color: #24262D;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
}

.Dados_Pessoais {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__genero {
    margin-left: -20px;
    margin-top: 120px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Estado_Civil {
    margin-left: 60px;
    margin-top: 120px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Portador_de_Necessidade {
    margin-left: 60px;
    margin-top: 120px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Dados_Pessoais2 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__convive_com_portador {
    margin-left: -20px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__qtd_de_filhos {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__salario_min {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Dados_Pessoais3 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__DataNascimento {
    margin-left: -20px;
    margin-top: 60px;
    width: 850px;
    height: 450px;
    background-color: #24262D;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
}

#container__Oque_tem_No_Domicilio {
    margin-left: 80px;
    margin-top: 60px;
    width: 850px;
    height: 500px;
    background-color: #24262D;
    border-radius: 20px;
}

.Dados_Pessoais4 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__qtd_geladeira {
    margin-left: -20px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__qtd_celular_comum {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__qtd_micro_ondas {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Dados_Pessoais5 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__qtd_notebooks {
    margin-left: -20px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__qtd_Maquina_de_Lavar {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__qtd_motocicletas {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Dados_Pessoais6 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__qtd_Automoveis {
    margin-left: -20px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__qtd_DVD {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__qtd_TV {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Dados_Pessoais7 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__qtd_Smartphones {
    margin-left: -20px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Plano_Saude {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Religiao {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.main__trabalho {
    margin-top: 60px;
    color: #BFBFBF;
    font-size: 40px;
    padding-left: 15px;
}

.Trabalho {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Trabalho {
    margin-left: -20px;
    margin-top: 120px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Vinculo_Emprego {
    margin-left: 60px;
    margin-top: 120px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Area_trabalho {
    margin-left: 60px;
    margin-top: 120px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Trabalho2 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Horario_Trabalho {
    margin-left: -20px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.main__container {
    color: #BFBFBF;
    margin-left: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 10px;
    overflow: auto;
    margin-top: 50px;
}

.main__Estudos {
    margin-top: 60px;
    color: #BFBFBF;
    font-size: 40px;
    padding-left: 15px;
}

.Escolaridade {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Escolaridade_Pai {
    margin-left: -20px;
    margin-top: 120px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Escolaridade_Mae {
    margin-left: 60px;
    margin-top: 120px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Estudou_Em {
    margin-left: 60px;
    margin-top: 120px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Escolaridade2 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Ingles {
    margin-left: -20px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Espanhol {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Outros {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Escolaridade3 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Estudou_Fatec {
    margin-left: -20px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Curso_Tecnico {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.main__Informatica {
    margin-top: 60px;
    color: #BFBFBF;
    font-size: 40px;
    padding-left: 15px;
}

.Informatica {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Frequencia_Microcomputadores {
    margin-left: -20px;
    margin-top: 120px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Onde_Microcomputadores {
    margin-left: 60px;
    margin-top: 120px;
    width: 1210px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Informatica2 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Finalidade_Microcomputadores {
    margin-left: -20px;
    margin-top: 60px;
    width: 1840px;
    height: 600px;
    background-color: #24262D;
    border-radius: 20px;
}

.Informatica3 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Conhecimento_Informatica {
    margin-left: -20px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Conhecimento_Windows {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Conhecimento_Linux {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Informatica4 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Conhecimento_Word {
    margin-left: -20px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Conhecimento_Excel {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Conhecimento_PowerPoint {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Informatica5 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Conhecimento_GestaoEmpresarial {
    margin-left: -20px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.main__Leitura {
    margin-top: 60px;
    color: #BFBFBF;
    padding-left: 15px;
    font-size: 40px;
}

.Leitura {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Televisores {
    margin-left: -20px;
    margin-top: 120px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Internet {
    margin-left: 60px;
    margin-top: 120px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Revistas {
    margin-left: 60px;
    margin-top: 120px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Leitura2 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Jornais {
    margin-left: -20px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Radio {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Redes_socias {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Leitura3 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Conversas_com_Amigos {
    margin-left: -20px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Le_Jornal {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Qtd_Livros {
    margin-left: 60px;
    margin-top: 60px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Leitura4 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Assuntos_que_Le {
    margin-left: -20px;
    margin-top: 60px;
    width: 1840px;
    height: 500px;
    background-color: #24262D;
    border-radius: 20px;
}

.Leitura5 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Le_Livros {
    margin-left: -20px;
    margin-top: 60px;
    width: 1840px;
    height: 700px;
    background-color: #24262D;
    border-radius: 20px;
}

.Leitura6 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Fontes_Entretenimento {
    margin-left: -20px;
    margin-top: 60px;
    width: 1840px;
    height: 700px;
    background-color: #24262D;
    border-radius: 20px;
}

.main__Informacoes_Extras {
    margin-top: 60px;
    color: #BFBFBF;
    padding-left: 15px;
    font-size: 40px;
}

.Informacoes_Extras {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Atividade_Voluntaria {
    margin-left: -20px;
    margin-top: 120px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

#container__Transporte {
    margin-left: 60px;
    margin-top: 120px;
    width: 570px;
    height: 450px;
    background-color: #24262D;
    border-radius: 20px;
}

.Informacoes_Extras2 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Conheceu_Fatec {
    margin-left: -20px;
    margin-top: 60px;
    width: 1840px;
    height: 700px;
    background-color: #24262D;
    border-radius: 20px;
}

.Informacoes_Extras3 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Escolheu_Curso {
    margin-left: -20px;
    margin-top: 60px;
    width: 1840px;
    height: 700px;
    background-color: #24262D;
    border-radius: 20px;
}

.Informacoes_Extras4 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Expectativa_Curso {
    margin-left: -20px;
    margin-top: 60px;
    width: 1840px;
    height: 700px;
    background-color: #24262D;
    border-radius: 20px;
}

.Informacoes_Extras5 {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -60px;
}

#container__Expectativa_Formar {
    margin-left: -20px;
    margin-top: 60px;
    width: 1840px;
    height: 500px;
    background-color: #24262D;
    border-radius: 20px;
}